@import url('https://fonts.googleapis.com/css2?family=Parkinsans:wght@300..800&display=swap');

html {
    overflow-x: hidden;
}

h1 {
    font-family: "Parkinsans", sans-serif;
    font-size: 30pt !important;
    font-weight: 700 !important;
}

h2 {
    font-family: "Parkinsans", sans-serif;
}

p {
    font-family: "Parkinsans", sans-serif;
}

a {
    font-family: "Parkinsans", sans-serif;
}

.logo {
    height: 200px;
    width: 200px;
    margin: auto !important;
}

.seccion1 {
    width: 100%;
    background-image: linear-gradient(rgba(0, 9, 30, 0.827), rgba(0, 8, 25, 0.55)), url("../imagenes/cut2.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 300px 0 150px;
    background-attachment: fixed;
    margin: auto !important;
}

.title1 {
    color: #7392e0;
    font-size: 30px;
}


.titulo1 {
    color: white;
    padding-top: 100px;
    font-size: 30pt;
}

/* SECCION TESTIMONIAL  */
            
.section1 h2 {
    padding-bottom: 20px;
    color: #7392e0;
    font-size: 45px;
    text-align: center;
    
}

.section1 .info {
    font-size: 18px;
    line-height: 30px;
    text-align: center;
    margin: 0px 0px 15px;
    font-weight: 300;
}

.section1 .member {
    box-shadow: 0px 2px 15px #a6b2d2;
    padding: 30px;
    border-radius: 30px;
    background-color: #fef8ef;
    margin: 15px;
    border: 1px solid #7392e0;
}

.member:hover {
    background-color: #e1e9ff;
}

.section1 .member .picture {
    overflow: hidden;
    width: 500px;
    border-radius: 50%;
}

.section1 .member .member-info {
    padding-left: 30px;
    font-style: italic !important;

}

.section1 .member h4 {
    font-weight: 700;
    margin-bottom: 5px;
    font-size: 22px;
    color: #7392e0;
}

.section1 .member p {
    margin: 10px 0 0 0;
    font-size: 14px;
}


.icon {
    clip-path: circle(40% at 50% 50%);    
    background-color: #5777c9;
    width: 110px;
    padding: 25px;
    color: #ffffff;
}

.title3 {
    color: #5777c9;
}


/*NAVEGACION SCROLLING*/

.navigation-wrap {
    position: fixed;
    width: 100%;
    left: 0;
    z-index: 10000;
    transition: all 0.3s ease-out;
}

.navigation-wrap .nav-item { 
    transition: all 0.3s linear;
}

.nav-link {
    font-size: 14pt;
    font-weight: 400 !important; 
    text-transform: capitalize;
    letter-spacing: 2px;
    color: #fff;
}

.nav-link:hover {
    color: white;
    background-color: #7392e0;
    border-radius: 50px;
}

.navbar-collapse {
    text-align: center;
    border-radius: 15px;

}

.navigation-wrap.scroll-on {
    position: fixed;
    background-color: #fff;
    top: 0;
    left: 0;
    width: 100%;
    box-shadow: 0 2px 28px 0 rgb(0, 0, 0, 0.09);
    transition: all 0.15s ease-in-out 0s;
}

.navigation-wrap.scroll-on .nav-link {
    color: #7392e0;
}

.navigation-wrap.scroll-on .nav-link:hover,
.navigation-wrap.scroll-on .nav-link.active {
    color: white;
    background-color: #bccce6;

    
}

/* MENU HAMBURGUESA */

.navbar-toggler {
    background-color: #d6dbe3;
    border: 2px solid #fff;
}

.navbar-toggler:hover {
    background-color: #bccce6;
}

.custom-toggler.navbar-toggler {
    border-color: #fff;
}

.custom-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0, 0, 0, 1)' stroke-width='3' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.custom-toggler .navbar-toggler-icon:hover {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0, 0, 0, 1)' stroke-width='3' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
    
}
/*ESPACIO ENTRE SECCIONES */

.seccion2 {
    padding: 150px 0 !important;
    background-color: #fff8f5;
}



/* SCROLLTOP  */

.botonScrollTop {
    position: fixed;
    height: 45px;
    width: 42px;
    background-color: #F6F3E8;
    right: 20px;
    bottom: 30px;
    text-align: center;
    line-height: 45px;
    color: #888888;
    font-size: 25px;
    border-radius: 5px;
    cursor: pointer;
}
/* PIE DE PAGINA  */

footer {
    background-color: #F6F3E8;

}

.color{
    color: #232323;
}

.i1 {
    color: #5777c9;
    padding: 10px;
}

.i1:hover{
    color: #1b4fd2;
}

footer p {
    color: #232323;
    font-size: 18px;
    font-weight: 300;

}

.seccion3 {
    width: 100%;
    background-image: url("../imagenes/cut.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 400px;
    padding: 150px !important;
    border-top-right-radius: 80px;
    border-top-left-radius: 80px;
}

.animacion{
    width: 40%;
    margin: auto;
}

/* form */

.titulo2{
    font-size: 28pt;
    color: #5777c9;
}

.sectionForm {
    background-color: #edf2ff;
    border-radius: 50px;
    border: 1px solid #5777c9;
}
.sectionForm .containerForm {
    width: 80%;
    padding: 10px;
}
.sectionForm .containerForm .formRow {
    position: relative;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}
.sectionForm .containerForm .formRow .colForm {
    position: relative;
    width: 100%;
    padding: 0px 10px;
    margin: 30px 0px 10px;
    transition: 0.5s;
}
.sectionForm .containerForm .formRow .colForm .inputBox {
    position: relative;
    width: 100%;
    height: 40px;
    color: #000;
    font-weight: bold;
}
.sectionForm .containerForm .formRow .colForm .inputBox input,
.sectionForm .containerForm .formRow .colForm .inputBox.textarea textarea {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: transparent;
    box-shadow: none;
    outline: none;
    border: none;
    font-size: 18px;
    padding: 0px 10px;
    z-index: 1;
    color: #ffffff;
}
.sectionForm .containerForm .formRow .colForm .inputBox .text {
    position: absolute;
    left: 0;
    top: 0;
    line-height: 40px;
    font-size: 18px;
    padding: 0px 10px;
    display: block;
    transition: 0.5s;
    pointer-events: none;
}
.sectionForm .containerForm .formRow .colForm .inputBox input:focus + .text,
.sectionForm .containerForm .formRow .colForm .inputBox input:valid + .text {
    left: -10px;
    top: -35px;
}
.sectionForm .containerForm .formRow .colForm .inputBox .line {
    position: absolute;
    bottom: 0;
    display: block;
    width: 100%;
    height: 3px;
    transition: 0.6s;
    border-radius: 15px;
    pointer-events: none;
    background-color: #5777c9;

}
.sectionForm .containerForm .formRow .colForm .inputBox input:focus ~ .line,
.sectionForm .containerForm .formRow .colForm .inputBox input:valid ~ .line {
    height: 100%;
}
.sectionForm .containerForm .formRow .colForm .inputBox.textarea {
    position: relative;
    width: 100%;
    height: 100px;
    padding: 15px 0px;
}
.sectionForm .containerForm .formRow .colForm .inputBox.textarea textarea {
    height: 100px;
    resize: none;
}
.sectionForm .containerForm .formRow .colForm .inputBox textarea:focus + .text,
.sectionForm .containerForm .formRow .colForm .inputBox textarea:valid + .text {
    left: -10px;
    top: -35px;
}
.sectionForm .containerForm .formRow .colForm .inputBox textarea:focus ~ .line,
.sectionForm .containerForm .formRow .colForm .inputBox textarea:valid ~ .line {
    height: 100%;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.texto{
    font-size: 16pt;
}

.alertaRoja{
    color: #ff0000;
    font-weight: 500;
    font-size: 18px;
}
.alertaAzul{
    color: #5777c9;
    font-weight: 500;
    font-size: 18px;
}


.boton1{
    font-family: "Parkinsans", sans-serif;
    font-size: 16pt !important;
    text-decoration: none;
    padding: 10px 40px;
    background-color: #5777c9;
    color: #fff;
    outline: none;
    border: none;
    border-radius: 15px;

}
.boton1:hover{
    background-color: #1b4fd2;
    color: #fff;         
}